.cart-hotel-number__wrap {
	width: 100%;
	padding-top: 85px;
	margin-bottom: 15px;
}
.cart-hotel-number__outdoors {
	margin-bottom: 35px;
	p {
		font-family: @ff2;
		font-size: 3.6rem;
	}
}
.project-slide {
	max-width: 539px;
	&__headline {
		margin-bottom: 40px;		
		h3 {
			font-family: @ff3;
		}
	}
	&__text {
		span {
			display: block;
			font-family: @ff2;
			font-style: italic;
			margin-bottom: 10px;
		}
	}
}
.cart-hotel-number__photo--images {
	display: none;
}
.cart-hotel-number__photo--wrap .cart-hotel-number__photo--images.active {
    display: block !important;
}
.cart-hotel-number__photo--wrap {
	max-width: 650px;	
}
.cart-hotel-number__photo--wrap,
.cart-hotel-number__text--wrap {
	display: inline-block;
	vertical-align: top;
}
.cart-hotel-number__photo--images {
	max-width: 650px;
	height: 450px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 20;
	img {
		width: 100%;
		height: auto;
	}
}
.slide-picture-after-two-wrap {  
	margin-top: 20px;
}
.slide-picture-after-two-wrap ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
}
.slide-picture-after-two-wrap ul li:last-child {
	margin-right: 0;
}
.cart-hotel-number__photo--images-two {
	max-width: 210px;
	height: 170px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}
.slide-picture-after-two img {
	width: 100%;
	height: auto;
}